.image{
    background-image: url('https://www.freepik.com/free-ai-image/healthy-fresh-vegetable-salad-with-organic-ingredients-generated-by-ai_41639206.htm#fromView=search&page=1&position=46&uuid=8bbbcc06-ad03-4453-a5d0-25d1a3ec4b19');
    background-repeat: no-repeat;
    background-attachment: fixed;
}